@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-app {
    @apply max-w-7xl mx-auto py-2 px-4;
}
.alert-success {
    @apply m-2 p-4 bg-green-300 text-green-700 rounded-lg;
}
.alert-danger {
    @apply m-2 p-3 bg-red-300 text-red-700 rounded-lg;
}
.focus-danger {
    @apply ring-red-400 border-red-400;
}
.focus-form {
    @apply focus:ring-yellow-400 focus:border-yellow-400;
}
#menu-toggle:checked + #menu {
    display: block;
}
.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}
.hover\:grow:hover {
    transform: scale(1.02);
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #f1c40f;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
