@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-app{
    @apply max-w-7xl mx-auto py-2 px-4 sm:px-6 lg:px-8;
}
.l-card{
    @apply shadow bg-white rounded-md p-3;
}
.l-btn-primary{
    @apply shadow bg-zinc-900 px-6 py-4 rounded-md cursor-pointer text-white;
}
.l-btn-secondary{
    @apply shadow bg-gray-100 px-4 py-2 rounded-md cursor-pointer text-zinc-900;
}

.l-alert-danger{
    @apply p-3 bg-red-100 text-red-400 rounded-md;
}
.l-alert-success{
    @apply p-3 bg-green-100 text-green-600 border border-green-200 rounded-md;
}

.loader {
    width: 24px;
    height: 24px;
    border: 5px solid #FFF;
    border-bottom-color: #00ccff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
